{
  "pid": "bw.resource.jdbc.factory",
  "properties": {
    "factory.pid": {
      "name": "factory.pid",
      "value": "bw.resource.jdbc",
      "type": "java.lang.String"
    },
    "factory.pidList": {
      "name": "factory.pidList",
      "value": [
        {
          "value": "bw.resource.jdbc.e04dedd1-54fb-4193-8d89-5911d8e35011",
          "type": "java.lang.String"
        },
        {
          "value": "bw.resource.jdbc.019f0323-b803-466d-a140-1d61f22f9331",
          "type": "java.lang.String"
        }
      ],
      "type": "[Ljava.lang.String;"
    }
  }
}