{
  "pid": "bw.resource.jdbc.factory",
  "properties": {
    "factory.pid": {
      "name": "factory.pid",
      "value": "bw.resource.jdbc",
      "type": "java.lang.String"
    },
    "factory.pidList": {
      "name": "factory.pidList",
      "value": [{
        "value": "bw.resource.jdbc.59c99d6a-744f-4610-b39c-a3f72377b024",
        "type": "java.lang.String"
      }],
      "type": "[Ljava.lang.String;"
    }
  }
}