{
  "pid": "bw.resource.jdbc.factory",
  "properties": {
    "factory.pid": {
      "name": "factory.pid",
      "value": "bw.resource.jdbc",
      "type": "java.lang.String"
    },
    "factory.pidList": {
      "name": "factory.pidList",
      "value": [
        {
          "value": "bw.resource.jdbc.04aa5b1a-57a3-4eb7-8497-193ff5709d91",
          "type": "java.lang.String"
        },
        {
          "value": "bw.resource.jdbc.dd302538-0e8a-44c6-8d99-08e6d5e9c515",
          "type": "java.lang.String"
        }
      ],
      "type": "[Ljava.lang.String;"
    }
  }
}