{
  "pid": "bw.application.StockMarketSimulator_1.0",
  "properties": {
    "\/\/StockMarketSimulator.module\/\/\/Service\/DestinationNameResponse": {
      "name": "\/\/StockMarketSimulator.module\/\/\/Service\/DestinationNameResponse",
      "value": "respons.message.topic",
      "type": "java.lang.String"
    },
    "\/\/StockMarketSimulator.module\/\/BW.HOST.NAME": {
      "name": "\/\/StockMarketSimulator.module\/\/BW.HOST.NAME",
      "value": "localhost",
      "type": "java.lang.String"
    },
    "\/\/StockMarketSimulator.module\/\/BW.MODULE.NAME": {
      "name": "\/\/StockMarketSimulator.module\/\/BW.MODULE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/StockMarketSimulator.module\/\/BW.APPNODE.NAME": {
      "name": ".type.\/\/StockMarketSimulator.module\/\/BW.APPNODE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/StockMarketSimulator.module\/\/BW.HOST.NAME": {
      "name": ".type.\/\/StockMarketSimulator.module\/\/BW.HOST.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/StockMarketSimulator.module\/\/BW.DOMAIN.NAME": {
      "name": "\/\/StockMarketSimulator.module\/\/BW.DOMAIN.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/StockMarketSimulator.module\/\/BW.APPSPACE.NAME": {
      "name": "\/\/StockMarketSimulator.module\/\/BW.APPSPACE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/StockMarketSimulator.module\/\/BW.MODULE.VERSION": {
      "name": ".type.\/\/StockMarketSimulator.module\/\/BW.MODULE.VERSION",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/StockMarketSimulator.module\/\/BW.MODULE.NAME": {
      "name": ".type.\/\/StockMarketSimulator.module\/\/BW.MODULE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/StockMarketSimulator.module\/\/\/Service2\/DestinationNameRes": {
      "name": "\/\/StockMarketSimulator.module\/\/\/Service2\/DestinationNameRes",
      "value": "respons.message.queue",
      "type": "java.lang.String"
    },
    "\/\/StockMarketSimulator.module\/\/BW.MODULE.VERSION": {
      "name": "\/\/StockMarketSimulator.module\/\/BW.MODULE.VERSION",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/StockMarketSimulator.module\/\/\/Service2\/DestinationNameRes": {
      "name": ".type.\/\/StockMarketSimulator.module\/\/\/Service2\/DestinationNameRes",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/StockMarketSimulator.module\/\/\/Service2\/DestinationNameReq": {
      "name": "\/\/StockMarketSimulator.module\/\/\/Service2\/DestinationNameReq",
      "value": "request.message.queue",
      "type": "java.lang.String"
    },
    ".type.\/\/StockMarketSimulator.module\/\/\/Service2\/DestinationNameReq": {
      "name": ".type.\/\/StockMarketSimulator.module\/\/\/Service2\/DestinationNameReq",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/StockMarketSimulator.module\/\/BW.APPSPACE.NAME": {
      "name": ".type.\/\/StockMarketSimulator.module\/\/BW.APPSPACE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".bundle.name": {
      "name": ".bundle.name",
      "value": "StockMarketSimulator",
      "type": "java.lang.String"
    },
    "\/\/StockMarketSimulator.module\/\/BW.APPNODE.NAME": {
      "name": "\/\/StockMarketSimulator.module\/\/BW.APPNODE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/StockMarketSimulator.module\/\/\/Service\/DestinationNameResponse": {
      "name": ".type.\/\/StockMarketSimulator.module\/\/\/Service\/DestinationNameResponse",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".bundle.version": {
      "name": ".bundle.version",
      "value": "1.0.0.qualifier",
      "type": "java.lang.String"
    },
    "\/\/StockMarketSimulator.module\/\/\/Service\/DestinationName": {
      "name": "\/\/StockMarketSimulator.module\/\/\/Service\/DestinationName",
      "value": "request.message.topic",
      "type": "java.lang.String"
    },
    ".module.name": {
      "name": ".module.name",
      "value": "StockMarketSimulator",
      "type": "java.lang.String"
    },
    ".rev": {
      "name": ".rev",
      "value": 1,
      "type": "java.lang.Integer"
    },
    "\/\/StockMarketSimulator.module\/\/BW.DEPLOYMENTUNIT.TYPE": {
      "name": "\/\/StockMarketSimulator.module\/\/BW.DEPLOYMENTUNIT.TYPE",
      "value": "",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "bw.application.StockMarketSimulator_1.0",
      "type": "java.lang.String"
    },
    ".type.\/\/StockMarketSimulator.module\/\/BW.DEPLOYMENTUNIT.VERSION": {
      "name": ".type.\/\/StockMarketSimulator.module\/\/BW.DEPLOYMENTUNIT.VERSION",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/StockMarketSimulator.module\/\/\/Service\/DestinationName": {
      "name": ".type.\/\/StockMarketSimulator.module\/\/\/Service\/DestinationName",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/StockMarketSimulator.module\/\/BW.DOMAIN.NAME": {
      "name": ".type.\/\/StockMarketSimulator.module\/\/BW.DOMAIN.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/StockMarketSimulator.module\/\/BW.DEPLOYMENTUNIT.NAME": {
      "name": ".type.\/\/StockMarketSimulator.module\/\/BW.DEPLOYMENTUNIT.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".module.version": {
      "name": ".module.version",
      "value": "1.0",
      "type": "java.lang.String"
    },
    ".type.\/\/StockMarketSimulator.module\/\/BW.DEPLOYMENTUNIT.TYPE": {
      "name": ".type.\/\/StockMarketSimulator.module\/\/BW.DEPLOYMENTUNIT.TYPE",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/StockMarketSimulator.module\/\/BW.DEPLOYMENTUNIT.NAME": {
      "name": "\/\/StockMarketSimulator.module\/\/BW.DEPLOYMENTUNIT.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/StockMarketSimulator.module\/\/BW.DEPLOYMENTUNIT.VERSION": {
      "name": "\/\/StockMarketSimulator.module\/\/BW.DEPLOYMENTUNIT.VERSION",
      "value": "",
      "type": "java.lang.String"
    }
  }
}