{
  "pid": "com.tibco.bw.stat.appnode.e459a591-5580-4e31-aaa8-83f6b4e44ccb",
  "properties": {
    "name": {
      "name": "name",
      "value": "Main",
      "type": "java.lang.String"
    },
    "service.factoryPid": {
      "name": "service.factoryPid",
      "value": "com.tibco.bw.stat.appnode",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "com.tibco.bw.stat.appnode.e459a591-5580-4e31-aaa8-83f6b4e44ccb",
      "type": "java.lang.String"
    }
  }
}